@model JOMarkt.Models.Category

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Category</h4>
    <hr />
    <dl class="row">
        <div class="card" id="catcard" style="width: 18rem;">
           
            <div class="card-body">
                <p class="producttitel" style="color:black;">
                    <br />
                    @Html.DisplayFor(modelItem => Model.Name)
                </p>
                @Html.DisplayFor(modelItem => Model.subcategories)
            </div>
        </div>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CategorieId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
