@model JOMarkt.Models.Category

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

    <img class="header" style="margin-top:20px; width:99%; height:300px; position:relative; " src="@Model.Image" />





@foreach (var item in Model.subcategories)
{

    <li class="collum" style="list-style-type:none;">

        <div class="card" id="catcard" style="width: 18rem;">
            <div style="width:100%; text-align:center;">


            </div>
            <div class="card-body">
                <p class="producttitel" style="color:black;">
                    <br />
                    <br />
                    @Html.DisplayFor(modelItem => item.Name)
                </p>

            </div>
        </div>
    </li>
    @foreach (var product in item.Products)
    {

        <li class="collum" style="list-style-type:none;">

            <div class="card" id="catcard" style="width: 18rem;">
                <div style="width:100%; text-align:center;">


                </div>
                <div class="card-body">
                    <p class="producttitel" style="color:black;">
                        <br />

                        <br />
                        @Html.DisplayFor(modelItem => product.Title)
                        <img class="productfoto" style="margin-top:20px; width:99%;" src="@product.Image">
                    </p>

                </div>
            </div>
        </li>
    }


}


<div>
    <a asp-action="Edit" asp-route-id="">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
