
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JoMarkt</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    <style>
        body {
            background-color: aliceblue;
        }

        .navbar-brand {
            color: white;
        }

        .col_white_amrc {
            color: #FFF;
        }

        footer {
            width: 20px;
            background-color: rgb(255, 50, 51);
            min-height: 490px;
            top: 100%;
            padding: 10px 0px 25px 0px;
        }

        .pt2 {
            padding-top: 40px;
            margin-bottom: 20px;
        }

        footer p {
            font-size: 13px;
            color: #CCC;
            padding-bottom: 0px;
            margin-bottom: 8px;
        }

        .mb10 {
            padding-bottom: 15px;
        }

        .footer_ul_amrc {
            margin: 0px;
            list-style-type: none;
            font-size: 14px;
            padding: 0px 0px 10px 0px;
        }

            .footer_ul_amrc li {
                padding: 0px 0px 5px 0px;
            }

                .footer_ul_amrc li a {
                    color: #CCC;
                }

                    .footer_ul_amrc li a:hover {
                        color: #fff;
                        text-decoration: none;
                    }

        .fleft {
            float: left;
        }

        .padding-right {
            padding-right: 10px;
        }

        .footer_ul2_amrc {
            margin: 0px;
            list-style-type: none;
            padding: 0px;
        }

            .footer_ul2_amrc li p {
                display: table;
            }

            .footer_ul2_amrc li a:hover {
                text-decoration: none;
            }

            .footer_ul2_amrc li i {
                margin-top: 5px;
            }

        .bottom_border {
            border-bottom: 1px solid #323f45;
            padding-bottom: 20px;
        }

        .foote_bottom_ul_amrc {
            list-style-type: none;
            padding: 0px;
            display: table;
            margin-top: 10px;
            margin-right: auto;
            margin-bottom: 10px;
            margin-left: auto;
        }

            .foote_bottom_ul_amrc li {
                display: inline;
            }

                .foote_bottom_ul_amrc li a {
                    color: #999;
                    margin: 0 12px;
                }

        .social_footer_ul {
            display: table;
            margin: 15px auto 0 auto;
            list-style-type: none;
        }

            .social_footer_ul li {
                padding-left: 20px;
                padding-top: 10px;
                float: left;
            }

                .social_footer_ul li a {
                    color: #CCC;
                    border: 1px solid #CCC;
                    padding: 8px;
                    border-radius: 50%;
                }

                .social_footer_ul li i {
                    width: 20px;
                    height: 20px;
                    text-align: center;
                }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light  border-bottom box-shadow mb-3" style="background-color:rgb(255, 50, 51); color:white;">
            <div class="container">
                <img src="~/lib/bootstrap/LogoMakerCa-1575368108939.png" height="50" width="50" style="border-radius:100px;" />
                <a style="color:white; margin-left:10px;" class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">JoMarkt</a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />

                    <ul class="navbar-nav flex-grow-1">
                        @if (User.IsInRole("Admin"))
                        {
                            <a class="nav-link" asp-area="admin" asp-controller="home" asp-action="Index">AdminPannel</a>
                        }
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Products" asp-action="Index">Producten</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Categories" asp-action="Index">category</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Products" asp-action="Cart">Shoppingcart</a>
                        </li>

                    </ul>

                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer" style="height: auto">
        <div class="container bottom_border">
            <div class="row">
                <div class=" col-sm-4 col-md col-sm-4  col-12 col">
                    <h5 class="headin5_amrc col_white_amrc pt2">Find us</h5>
                    <!--headin5_amrc-->
                    <p class="mb10">
                    <p><i class="fa fa-location-arrow"></i> postcode Alkmaar/NL</p>
                    <p><i class="fa fa-phone"></i>  +31-1234567  </p>
                    <p><i class="fa fa fa-envelope"></i> gmail@gmail.com  </p>


                </div>





                <div class=" col-sm-4 col-md  col-6 col">
                    <h5 class="headin5_amrc col_white_amrc pt2"> support</h5>
                    <!--headin5_amrc-->
                    <ul class="footer_ul_amrc">
                        <li><iframe width="300" height="200" id="gmap_canvas" src="https://maps.google.com/maps?q=horizon%20college%20alkmaar&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe></li>
                        <li><a href="https://www.amsterdam-travel-guide.net/nl/de-wallen.php">contact p komt hier</a></li>


                    </ul>
                    <!--footer_ul_amrc ends here-->
                </div>



            </div>
        </div>



        <!--foote_bottom_ul_amrc ends here-->
        <p class="text-center">Copyright &copy;2019 | Designed With by JoMarkt</p>



    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
