@model JOMarkt.Models.Categories

@{
    ViewData["Title"] = "Home";
}
<div class="customcontainer">

    <br />
    <h1>Categoriën</h1>
    <input type="text" id="myInput" onkeyup="searchCat()" placeholder=" Zoek een categorie...">
    <hr />
    <br />
    <ul id="myRow" class="row justify-content-start">
        @foreach (var item in Model.categorie)
        {

            <li class="col-md-3" style="list-style-type:none;">
                <a asp-action="Subcategories" style="text-decoration: none;">
                    <div class="card" id="catcard" style="width: 18rem;">
                        <div style="width:100%; text-align:center;">
                            <img class="productfoto" style="margin-top:20px;" src="~/img/cat/(@item.Name).jpg">
                        </div>
                        <div class="card-body">
                            <p class="producttitel" style="color:black;">
                                <br />
                                @Html.DisplayFor(modelItem => item.Name)
                            </p>
                            @*<p class="price">&euro; @Html.DisplayFor(modelItem => item.Price)</p>*@
                        </div>
                    </div>
                </a>
            </li>
        }
    </ul>
</div>