<footer class="page-footer font-small">

    <div style="background-color: #F94850;">
        <div class="container">

            <div class="row py-4 d-flex align-items-center">

                <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0" style="color: white;">
                    <h6 class="mb-0">Meer van JOMarkt Voordeelmarkt.</h6>
                </div>

            </div>
        </div>
    </div>

    <div class="container text-center text-md-left mt-5">

        <div class="row mt-3 dark-grey-text">

            <div class="col-md-3 col-lg-4 col-xl-3 mb-4">

                <h6 class="text-uppercase font-weight-bold">Over JOMarkt Voordeelmarkt</h6>
                <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 205px;">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque interdum quam odio, quis placerat ante luctus eu. Sed aliquet dolor id sapien rutrum, id vulputate quam iaculis. Suspendisse consectetur mi id libero fringilla, in pharetra sem ullamcorper.
                </p>

            </div>
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

                <h6 class="text-uppercase font-weight-bold">Algemeen</h6>
                <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 76px;">
                <p>
                    <a class="dark-grey-text" href="#!">Nieuws</a>
                </p>
                <p>
                    <a class="dark-grey-text" href="#!">Aanmelden</a>
                </p>
                <p>
                    <a class="dark-grey-text" href="#!">Uw account</a>
                </p>

            </div>

            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

                <h6 class="text-uppercase font-weight-bold">Producten</h6>
                <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 87px;">
                <p>
                    <a class="dark-grey-text" href="#!">Producten</a>
                </p>
                <p>
                    <a class="dark-grey-text" href="#!">Aanbiedingen</a>
                </p>

            </div>

            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

                <h6 class="text-uppercase font-weight-bold">Locatie</h6>
                <hr class="teal accent-3 mb mt-0 d-inline-block mx-auto" style="width: 57px;">

                <div class="mapouter">
                    <div class="gmap_canvas"><iframe width="500" height="200" id="gmap_canvas" src="https://maps.google.com/maps?q=horizon%20college%20alkmaar&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.pureblack.de"></a></div>
                </div>

            </div>

        </div>

    </div>

    <div class="footer-copyright text-center py-3">
        © 2018 JOMarkt Voordeelmarkt
    </div>

</footer>

