@model IEnumerable<JOMarkt.Models.articles>
@{
    ViewData["Title"] = "KAAs";
}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<header class="hero">
    <div class="overlay">
        <div class="description">
            <h1>Welkom bij JOMarkt supermarkten! LOL</h1>
           
        </div>
    </div>
</header>
<p>
    <a asp-action="LoadBezorg">Load bezorg XML</a>
</p>
<p>
    <a asp-action="LoadXML">Load XML Producten</a>
</p>
<p>
    <a asp-action="LoadXMLCategories">Load cat XML</a>
</p>

<div style="align-content-center">
    @foreach (var item in Model)
    {
        <div class="col-md-3" style="float:left;">
           
                <div class="card" style="width: 18rem;">
                    <div style="left:10px; border-left10px; width:100%; text-align:center;">
                        <img class="productfoto" src="@item.image" alt="Card image cap">
                    </div>
                    <div class="card-body"style="height:100%; top:20px;" >
                        <p class="card-text">@item.Title</p>
                        <p class="card-text">€@item.Content</p>
                    </div>
                </div>
            
        </div>
    }
</div>

<p>

</p>

