@model IEnumerable<JOMarkt.Models.Product>

@{
    ViewData["Title"] = "Index";
}


    <div class="customcontainer">
        <p>
            <a asp-action="LoadXML">Load XML</a>
        </p>
        <p>
            <a asp-action="DeleteData">delete products</a>
        </p>
        <br />
        <h1>Producten</h1>


        <form asp-controller="Products" asp-action="Index" method="get">
            <p>
                <input type="text" class="from mr-sm-2" type="text" name="SearchString" placeholder="Zoek een product...">
                <input class="btn btn-danger my-2 my-sm-0" type="submit" value="Zoek" />
            </p>
        </form>


        <hr />
        <br />
        <ul class="row justify-content-center">
            @foreach (var item in Model)
            {
                <div style="text-align: center; align-content:center; text-decoration: none;">
                    <a asp-action="Detailpagina" asp-route-id="@item.Id" style="text-decoration: none;">

                        <div class="card" style="width: 18rem; style="text-align: center; align-content:center">
                            <div style="width:100%; style="text-align: center; align-content:center">
                                <img class="productfoto" style="margin-top:20px; width:99%;" src="@item.Image">
                            </div>
                            <div class="card-body" style="height:120px;max-height:120px;">
                                <p class="producttitel">Merk: @Html.DisplayFor(modelItem => item.Brand)</p>

                                @Html.DisplayFor(modelItem => item.Title)
                            </div>
                           <p class="price">&euro;@Html.DisplayFor(modelItem => item.Price)</p>
                           <a class="btn btn-success btn-block" href="/Products/Detailpagina/1">In winkelwagen</a>
                        </div>

                    </a>
                </div>
            }
        </ul>
    </div>

